<div class="subject-detail">
  <mat-card class="subject-detail__content">
    <app-page-title *ngIf="!selectedSubject" title="Tárgy létrehozás"></app-page-title>
    <app-page-title *ngIf="selectedSubject" title="Tárgy szerkesztése"></app-page-title>

    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="subjectForm">
        <mat-form-field class="subject-detail__field">
          <input matInput placeholder="Név" formControlName="name">
        </mat-form-field>
        <mat-form-field class="subject-detail__field">
          <input matInput placeholder="Nap" formControlName="day">
        </mat-form-field>
        <mat-form-field class="subject-detail__field">
          <input matInput placeholder="Időpont" formControlName="time">
        </mat-form-field>
        <mat-form-field class="subject-detail__field">
          <input matInput placeholder="Terem" formControlName="location">
        </mat-form-field>
      </form>
    </mat-card-content>

    <button mat-button (click)="onSubmit()">Mentés</button>
  </mat-card>
</div>
