<div class="user-details">
  <mat-card class="user-details__wrapper">
    <mat-card-header class="user-details__content-header"><h1>{{currentUser.name}}</h1></mat-card-header>

    <mat-card-content class="user-details__content-body" *ngIf="currentUser.role === 'ROLE_TEACHER'">
      <h2>Username</h2>
      <span>{{currentUser.username}}</span>

      <h2>Department</h2>
      <span>{{currentUser.department}}</span>

      <h2>Room</h2>
      <span>{{currentUser.room}}</span>
    </mat-card-content>

    <mat-card-content class="user-details__content-body" *ngIf="currentUser.role === 'ROLE_STUDENT'">
      <h2>Username</h2>
      <span>{{currentUser.username}}</span>

      <h2>Current semester</h2>
      <span>{{currentUser.semester}}</span>

      <h2>First year</h2>
      <span>{{currentUser.yearStarted}}</span>
    </mat-card-content>
  </mat-card>
</div>
