<div class="header">
  <mat-toolbar>
    <mat-toolbar-row class="header__row">
      <span class="header__title">
        Mini neptun
      </span>

      <div class="header__navigation">
        <button mat-button class="header__navigation-button">
          Tárgyak listázása
        </button>
        <button mat-button class="header__navigation-button">
          Órarend
        </button>
        <button mat-button class="header__navigation-button">
          Kilépés
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
